.consequence {

}

.missing {
    /* min-width: 15px;
    display: inline-block;
    border-bottom: 2px dotted var(--color-black-200);
    vertical-align: middle;
    margin: 0 var(--spacing-xsmall); */

    color: var(--color-red-400);
    opacity: 0.3;
    padding: 0 var(--spacing-xsmall);
    cursor: help;
    vertical-align: middle;
}

.missing svg {
    width: 15px;
    height: 15px;
    transform: translateY(5%);
}