.pre {
    background: var(--color-black-100);
    border-radius: var(--spacing-small);
    padding: var(--spacing-small) var(--spacing-medium);
    overflow-x: auto;

}

.pre :global(code) {
    color: var(--color-foreground);
}